.arrival{
    $this: &;
    padding: 48px 0;
    #{$this}__title{
        text-align: center;
        h3{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 25px;
        }
        span{
            font-size: 14px;
        }
    }
    #{$this}__clothes{
        padding: 48px 0;
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        #{$this}__boder{
            @include MediaQuery($tablet){
                flex: 0 0 33.3333%;
                max-width: 33.3333%;
            }
            @include MediaQuery($mobile){
                flex: 0 0 50%;
                max-width: 50%;
            }
            flex: 0 0 25%;
            max-width: 25%;
            height: 100%;
            padding:  20px 15px;
        }
        #{$this}__zomimg{
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.551);
            z-index: 10;
        }
    }
    #{$this}__image{
        @include MediaQuery($tablet){
            &:hover{
                #{$this}__imagehover{
                    display: none;
                }
            }
        }
        &:hover{
            #{$this}__imagehover{
                display: block;
            }
        }
        position: relative;
        img{
            width: 100%;
            height: 402px;
            object-fit: cover;
        }
    }
    #{$this}__text{
        text-align: center;
        span{
            font-size: 13px;
            display: block;
            margin: 20px 0 ;
        }
        p{
            font-weight: 600;
            margin-bottom: 20px;
        }
    }
    #{$this}__color{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        #{$this}__imgcolor{
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid rgb(182, 182, 182);
            margin: 0 5px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    // hover
    #{$this}__imagehover{
        @include MediaQuery($tablet){
            display: block;
            img{
                display: none;
            }
        }
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        cursor: pointer;
    }
    #{$this}__texthover{
        @include MediaQuery($tablet){
            .fa-regular, i, button, .start{
                display: none;
            }
        }
        position: absolute;
        top: 70%;
        left: 70%;
        transform: translate(-70%,-70%);
        text-align: center;
        width: 100%;
        .fa-heart{
            @include MediaQuery($tablet){
                display: none;
            }
            display: block;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            margin: 0 auto;
        }
        button{
            padding: 8px 30px;
            border: 1px solid #000;
            background-color: #fff;
            font-size: 14px;
            font-weight: 600;
            margin: 25px 0;
            transition: all 0.5s ease;
            &:hover{
                background-color: #000;
                color: #fff;
            }
        }
        .start{
            display: flex;
            justify-content: center;
            i{
                font-size: 10px;
                margin: 0 2px;
            }
        }
        .size{
            ul{
                display: flex;
                justify-content: center;
                margin-top: 30%;
                li{
                    margin: 0 3px;
                    font-size: 16px;
                    height: 30px;
                    width: 30px;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 50%;
                    background-color: #fff;
                }
            }
        }
    }
    #{$this}__quick{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.614);
        color: #fff;
        padding: 5px;
        font-size: 12px;
        cursor: pointer;
        text-align: center;
    }
    img{
        display: block;
    }
    #{$this}__detail{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.573);
        z-index: 10;
        #{$this}__alljs{
            width: 1000px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            #{$this}__close{
                position: absolute;
                right: -1.5%;
                top: -1.5%;
                cursor: pointer;
                i{
                    height: 30px;
                    width: 30px;
                    line-height: 30px;
                    text-align: center;
                    background-color: #000;
                    color: #fff;
                    transition: all 0.2s ease;
                    &:hover{
                        background-color: red;
                    }
                }
            }
        }
        #{$this}__item{
            overflow: auto;
            background-color:#fff;
        }
        #{$this}__scrollY{
            max-height: 85vh;
            #{$this}__plus{
                display: flex;
                padding: 60px 40px;
                margin-left: -15px;
            }
            #{$this}__imagejs{
                flex: 0 0 40%;
                max-width: 40%;
                padding: 0 15px;
                #{$this}__imgjs{
                    // position: relative;
                    margin-bottom: 40px;
                    span{
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 3px 5px;
                        background-color: red;
                        font-size: 12px;
                        font-weight: 600;
                        color: #fff;
                    }
                }
                #{$this}__imglist{
                    img{
                        height: 100px;
                        margin: 0 5px;
                        object-fit: cover;
                    }
                }
                
            }
            #{$this}__textj{
                flex: 0 0 60%;
                max-width: 60%;
                padding: 0 15px;
                h2{
                    font-size: 18px;
                    font-weight: 600;
                }
                #{$this}__viewjs{
                    display: flex;
                    margin: 30px 0;
                    justify-content: space-between;
                }
                .start{
                    span{
                        margin-right: 30px;
                        i{
                            font-size: 11px;
                        }
                    }
                }
                .day{
                    color: red;
                    font-size: 13px;
                }
                #{$this}__brand{
                    #{$this}__all{
                        margin-bottom: 12px;
                        display: flex;
                        h6{
                            font-weight: 600;
                            font-size: 13px;
                            width: 30%;
                        }
                        span{
                            font-size: 13px;
                        }
                    }
                }
                h2{
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 30px;
                }
                p{
                    font-size: 13px;
                }
                #{$this}__colorjs{
                    margin: 20px 0;
                    .draggable{
                        padding: 0 !important;
                        margin: 0 !important;
                    }
                    img{
                        max-width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                        border: 1px solid rgb(123, 122, 122);
                        margin-right: 20px;
                        cursor: pointer;
                    }
                }
                #{$this}__sizejs{
                    margin-bottom: 30px;
                    ul{
                        display: flex;
                        li{
                            height: 30px;width: 30px;
                            line-height: 30px;
                            text-align: center;
                            border-radius: 50%;
                            border: 1px solid #000;
                            margin: 0 7px;
                        }
                    }
                }
                #{$this}__quantity{
                    p{
                        font-weight: 600;
                        margin-bottom: 15px;
                    }
                    .ill{
                        display: flex;
                        text-align: center;
                        align-items: center;
                        button{
                            border: 1px solid #000;
                            padding: 0 12px;
                            text-decoration: none;
                            color: #000;
                            height: 30px;
                            line-height: 30px;
                        }
                        input{
                            border-left: none;
                            border-right: none;
                            outline: none;
                            border: 1px solid #000;
                            height: 30px;
                            text-align: center;
                        }
                        /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
                    }
                    p{
                        margin: 30px 0; 
                    }
                }
                #{$this}__buttonjs{
                    display: flex;
                    align-items: center;
                    button{
                        width: 100%;
                        padding: 10px 30px;
                        outline: none;
                        background-color: #000;
                        color: #fff;
                        font-weight: 600;
                    }
                    i{
                        font-size: 25px;
                        margin: 0 20px;
                    }
                }
            }
            .imgjs{
                width: 100%;
                height: auto;
                display: block;
            }
        }
        
    }
    .active{
        display: block;
    }
}



















.slick-prev:before, .slick-next:before {
    color: black;
}

.slick-next {
    right: 0;
}

.slick-prev {
    left: 0px;
    z-index: 10;
}

.slick-list {
    margin: 0 10px;
}

.slick-track{
    padding: 0px;
    margin: 0px;
}

