.author{
    padding: 48px 0;
    $this: &;
    #{$this}__content{
        h2{
            font-size: 18px;
            font-weight:600;
            text-align: center;
            margin-bottom: 48px;
        }
    }
    #{$this}__item{
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        #{$this}__tem{
            flex: 0 0 33.333%;
            max-width: 33.333%;
            padding: 0 15px;
        }
        #{$this}__note{
            padding: 70px 30px;
            box-shadow: 1px 1px 10px 0px rgb(220, 220, 220);
            text-align: center;
            position: relative;
            margin-top: 60px;
            #{$this}__img{
                position: absolute;
                left: 50%;
                top: -13%;
                transform: translateX(-50%);
            }
            .great{
                font-size: 20px;
                font-weight: 600;
                margin-top: 60px;
            }
            .Nam{
                font-size: 13px;
                line-height: 22px;
                margin: 25px 0;
                color: rgb(62, 62, 62);
            }
            #{$this}__icon{
                color: #faa900;
                font-size: 15px;
                margin-bottom: 30px;
            }
            .Purchased{
                font-size: 13px;
                display: flex;
                margin-bottom: 30px;
                a{
                    text-decoration: none;
                    color: rgb(185, 184, 184);
                    font-weight: 600;
                }
            }
            h5{
                color: #4dac4c;
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 20px;
            }
        }
        #{$this}__img{
            img{
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
    .slick-prev {
        display: none !important;
    }
    .slick-next {
        display: none !important;
    }
    .slick-dots li button:before {
        font-size: 17px;
    }
}