.banner{
    $this: &;
    #{$this}__all{
        @include MediaQuery($tablet){
            height: 30vh;
        }
        @include MediaQuery($mobile){
            height: 70vh;
        } 
        height: 100vh;
        max-width: 100%;
        position: relative;
        #{$this}__image{
            img{
                @include MediaQuery($tablet){
                    height: 30vh;
                }
                @include MediaQuery($mobile){
                    height: 70vh;
                }
                position: absolute;
                display: block;
                height: 100vh;
                width: 100%;
                object-fit: cover;
            }
        }
        #{$this}__content{
            @include MediaQuery($mobile){
                width: 80%;
            }
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 60%;
            span{
                @include MediaQuery($tablet){
                    font-size: 17px;
                }
                color: #fff;
                font-size: 30px;
            }
            h3{
                @include MediaQuery($tablet){
                    font-size: 25px;
                }
                font-size: 60px;
                color: #fff;
                font-weight: 600;
                margin: 30px 0;
            }
            p{
                width: 50%;
                margin: 0 auto;
                color: #fff;
                font-size: 12px;
                line-height: 20px;
            }
            button{
                outline: none;
                display: inline;
                border: none;
                padding: 15px 50px;
                border-radius: 30px;
                font-weight: 600;
                font-size: 15px;
                color: #fff;
                background-color: red;
                margin-top: 30px;
            }
        }
    }
    .slick-next {
        right: 25px;
    }
    .slick-prev {
        left: 25px;
        z-index: 1;
    }
    .slick-dots {
        bottom: 25px;
    }
    .slick-dots li button:before {
        font-size: 17px;
        line-height: 17px;
        color: rgb(213, 36, 36);
    }
    .slick-list{
        margin: 0px;
    }

}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}