.collections{
    $this:&;
    width: 100%;
    height: 100vh;
    padding: 48px 0;
    @include MediaQuery($tablet){
        height: 50vh;
    }
    // position: relative;
    #{$this}__container{
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    #{$this}__content{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .item{
            img{
                width: 30%;
                height: auto;
                object-fit: cover;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        #{$this}__image{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            #{$this}__img{
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    display: block;
                }
            }
        }
        #{$this}__text{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 40%;
            @include MediaQuery($mobile){
                position: relative;
                top: auto;
                left: auto;
                transform: none;
                width: 100%;
                bottom: 0;
                text-align: center;
            }
            span{
                color: red;
                border-bottom: 1px solid red;
                font-size: 13px;
                font-weight: 600;
            }
            h3{
                @include MediaQuery($tablet){
                    font-size: 30px;
                }
                @include MediaQuery($mobile){
                    font-size: 20px;
                    line-height: 20px;
                    margin: 15px 0;
                }
                font-size: 40px;
                font-weight: 600;
                margin: 30px 0;
                line-height: 50px;
            }
            button{
                outline: none;
                border: none;
                background-color: #4dac4c;
                padding: 10px 50px;
                border-radius: 30px;
                color: #fff;
            }
        }
    }
    // #{$this}__collections
}