.copyright{
    padding: 48px 0;
    $this:&;
    background-color: #000;
    #{$this}__container{
        text-align: center;
        color: rgb(189, 189, 189);
        p{
            margin: 20px;
        }
    }
}