.footer{
    padding: 48px 0;
    $this:&;
    h3{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    ul{
        li{
            padding: 10px 0;
            span{
                list-style: none;
                font-size: 12px;
                cursor: pointer;
                position: relative;
                &::after{
                    transition: all 0.5s ease;
                    content: "";
                    width: 0%;
                    height: 1px;
                    background-color: #000;
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                }
                &:hover{
                    &::after{
                        width: 100%;
                    }
                }
            }
        }
    }
    #{$this}__logo{
        img{
            max-width: 50px;
        }
    }
    #{$this}__icon{
        display: flex;
        margin: 15px 0;
        span{
            i{
                font-size: 14px;
                margin-right: 20px;
            }
            p{
                font-size: 12px;
            }
        }
    }
    #{$this}__social{
        text-align: center;
        padding-top: 48px;
        i{
            margin: 0 10px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
            color: #fff;
            cursor: pointer;
            &.fa-facebook-f{
                background-color: #3b5998;
            }
            &.fa-twitter{
                background-color: #55acee;
            }
            &.fa-google-plus-g{
                background-color: #dd4b39;
            }
            &.fa-instagram{
                background-color: #497299;
            }
            &.fa-pinterest{
                background-color: #cb2027;
            }
            &.fa-snapchat{
                background-color: #f4e24c;
            }
        }

    }
}