.header{
    $this: &;
    padding: 0px 48px;
    position: relative;
    @include MediaQuery($tablet){
        padding: 10px 0;
    }
    #{$this}__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #{$this}__logo{
        max-width: 70px;
        height: auto;
        img{
            width: 100%;
            height: auto;
        }
    }
    #{$this}__backgroundmenu{
        @include MediaQuery($tablet){
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 10;
            background-color: rgba(0, 0, 0, 0.708);
            display: none;
            &.active{
                display: block;
            }
        }
    }
    #{$this}__menu{
        z-index: 10;
        #{$this}__closemenu{
            display: none;
            @include MediaQuery($tablet){
                display: block;
                position: absolute;
                right: 0%;
                transform: translateX(100%);
                .fa-xmark{
                    font-size: 13px;
                    height: 30px;
                    width: 30px;
                    line-height: 30px;
                    text-align: center;
                    background-color: red;
                    color: #fff;
                }
            }
        }
        ul{
            display: flex;
            li{
                @include MediaQuery($tablet){
                    padding: 20px 0;
                    border-bottom: 1px solid #000;
                }
                font-size: 15px;
                font-weight: 600;
                margin: 0px 18px;
                cursor: pointer;
                padding: 30px 0;
                position: static;
                
            }
            span{
                position: relative;
                &::before{
                    content: " ";
                    width: 0%;
                    height: 1px;
                    background-color: #000;
                    display: block;
                    bottom: 0px;
                    position: absolute;
                    transition: all 0.5s ease;
                }
                p{
                    position: absolute;
                    font-size: 10px;
                    padding: 4px;
                    background-color: red;
                    color: #fff;
                    right: 0;
                    top: -20px;
                    @include MediaQuery($tablet){
                        top: 50%;
                        transform: translate(130%,-50%);
                        width: max-content;
                    }
                    &:before {
                        content: " ";
                        position: absolute;
                        height: 8px;
                        width: 8px;
                        left: 50%;
                        transform: translateX(-50%) rotate(44deg);
                        background-color: red;
                        bottom: -4px;
                        @include MediaQuery($tablet){
                            left: -15%;
                            top: 50%;
                            transform: translateY(-50%) rotate(44deg)
                        }
                    }
                }
                .new{
                    background-color: #06bfe2;
                    &:before{
                        background-color: #06bfe2;
                    }
                }
                &:hover{
                    &::before{
                        width: 100%;
                    }
                }
                .hot{
                    background-color: #ffbb49;
                    &:before{
                        background-color: #ffbb49;
                    }
                }
                &:hover{
                    &::before{
                        width: 100%;
                    }
                }
            }
            #{$this}__new{
                #{$this}__listmenu{
                    z-index: 10;
                    position: absolute;
                    max-width: 100%;
                    left: 0;
                    right: 0;
                    padding: 48px 0;
                    background-color: rgb(225, 225, 225);
                    transform: translateY(30%);
                    opacity: 0;
                    transition: all 0.5s;
                    display: none;
                    // @include MediaQuery($tablet){
                    //     position: absolute;
                    // }
                }

                #{$this}__list{
                    display: flex;
                    #{$this}__list1{
                        flex: 0 0 20%;
                        max-width: 20%;
                        h3{
                            font-size: 15px;
                            margin-bottom: 15px;
                        }
                        p{
                            margin: 10px 0;
                            font-weight: 400;
                            font-size: 13px;
                        }
                    }
                }
                &:hover{
                    #{$this}__listmenu{
                        transform: translateY(10%);
                        opacity: 1;
                        display: block;
                    }
                }    
            }
            @include MediaQuery($tablet){
                display: block;
            }
        }
        @include MediaQuery($tablet){
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 45%;
            background-color: #fff;
            z-index: 15;
        }
    }
    #{$this}__item{
        display: flex;
        #{$this}__icon{
            i{
                font-size: 22px;
                margin: 0 10px;
                cursor: pointer;
            }
            .amount{
                font-size: 20px;
                background-color:#4dac4c;
                color: #fff;
                padding: 5px;
                border: 10px;
            }
            #{$this}__search{
                display: flex;
                align-items: center;
                position: absolute;
                width: 0%;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                height: 0%;
                transition: all 0.5s ease;
                opacity: 0;
                input{
                    width: 100%;
                    text-align: center;
                    position: relative;
                    outline: none;
                    background-color: rgb(241, 240, 240);
                    border: none;
                    height: 100%;
                    padding: 0 20rem;
                }
                #{$this}__iconshowclose{
                    display: flex;
                    position: absolute;
                    right: 50px;
                    .fa-solid{
                        font-size: 18px;
                    }
                    .fa-magnifying-glass{
                        margin-right: 60px;
                    }
                }
                &.active{
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                }
            }
            #{$this}__conatinersearch{
                padding: 20px 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                background-color: #fff;
                z-index: 12;
                display: none;
                top: 100%;
                #{$this}__containertext{
                    display: flex;
                    flex-wrap: wrap;
                }
                .dual{
                    flex: 0 0 50%;
                    max-width: 50%;
                    padding: 0 15px;
                    .trending__all{
                        margin-top: 30px;
                        ul{
                            display: flex;
                            flex-wrap: wrap;
                            margin-left: -5px;
                            li{
                                cursor: pointer;
                                display: flex;
                                font-size: 13px;
                                background-color: rgb(219, 219, 219);
                                align-items: center;
                                margin: 5px;
                                padding: 6px;
                                i{
                                    font-size: 13px;
                                    padding: 10px 0;
                                }
                            }
                        }
                    }
                }
                h3{
                    padding: 15px 0;
                    font-size: 13px;
                    font-weight: 600;
                    border-bottom: 1px solid rgb(176, 175, 175);
                }
                .product__all{
                    display: flex;
                    margin-left: -15px;
                    margin-right: -15px;
                    margin-top: 30px;
                }
                .product__item{
                    flex: 0 0 33.3333%;
                    max-width:33.3333%;
                    padding: 0 15px
                }
                .product__image{
                    max-width: 100%;
                    position: relative;
                    img{
                        width: 100%;
                        display: block;
                    }
                    .hoverimg{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                    transition: all 0.5s ease;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    &:hover{
                        .hoverimg{
                            opacity: 1;
                        }
                        
                    }
                }
                .prodict__text{
                    margin-top: 20px;
                    span{
                        display: block;
                        font-size: 12px;
                        margin-bottom: 20px;
                        font-weight: 500;
                        i{
                            font-size: 10px;
                            margin: 0px;
                        }
                    }
                .product__imagesmall{
                    display: flex;
                    margin-left: -10px;
                    .product__img{
                        margin: 0 10px;
                        height: 30px;
                        width: 30Px;
                        line-height: 30px;
                        text-align: center;
                        border-radius: 50%;
                        overflow: hidden;
                        border: 1px solid rgb(148, 148, 148);
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
                }
                &.active{
                    display: block;
                }
            }
            #{$this}__login{
                position: fixed;
                z-index: 10;
                right: 0;
                left: 0;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.515);
                top: 0;
                display: none;
                &.active{
                    display: block;
                }
            }
            #{$this}__sinupandlogin{
                @include MediaQuery($tablet){
                    width: 50%;
                }
                position: absolute;
                width: 27%;
                height: 100%;
                right: 0;
                background-color: #fff;
                top: 0;
                bottom: 0;
                padding: 30px;
                #{$this}__closelogin{
                    display: flex;
                    justify-content: right;
                    align-items: center;
                    font-size: 15px;
                    cursor: pointer;
                    span{
                        color: rgb(249, 18, 18);
                    }
                    i{
                        font-size: 15px;
                    }
                }
                #{$this}__customer{
                    .csscustomer{
                        font-size: 13px;
                        font-weight: 600;
                        border-bottom: 1px solid rgb(203, 199, 199);
                        padding-bottom: 20px;
                    }
                    .csslogin{
                        margin: 25px 0;
                        p{
                            margin-bottom: 10px;
                            font-size: 13px;
                            span{
                                color: red;
                            }
                        }
                        input{
                            outline: none;
                            font-size: 13px;
                        }
                    }
                    button{
                        width: 100%;
                        padding: 8px 0;
                        outline: none;
                        border: 1px solid rgb(107, 107, 107);
                        font-weight: 600;
                        font-size: 15px;
                        background-color: #fff;
                    }
                    p{
                        margin: 20px 0;
                        font-size: 13px;
                        text-align: center;
                    }
                    .Account{
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
            #{$this}__cart{
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 15;
                background-color: rgba(0, 0, 0, 0.522);
                display: none;
                &.active{
                    display: block;
                }
                #{$this}__showcart{
                    @include MediaQuery($tablet){
                        width: 50%;
                    }
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 27%;
                    height: 100vh;
                    background-color: #fff;
                    padding: 20px;
                    #{$this}__closecart{
                        display: flex;
                        justify-content: right;
                        align-items: center;
                        span{
                            font-size: 15px;
                            i{
                                font-size: 15px;
                            }
                        }
                    }
                    #{$this}__your{
                        .cssyour{
                            font-size: 13px;
                            font-weight: 600;
                            border-bottom: 1px solid rgb(123, 123, 123);
                            padding-bottom: 20px;
                        }
                        #{$this}__shopping{
                            .cart-item{
                                padding-bottom: 20px;
                                .cart-all{
                                    align-items: center;
                                    padding: 20px 0;
                                    border-bottom: 1px solid rgb(187, 187, 187);
                                    display: flex;
                                    box-sizing: border-box;
                                    .cart-img{
                                        flex: 0 0 30%;
                                        max-width: 100%;
                                        img{
                                            width: 100%;
                                            display: block;
                                        }
                                    }
                                    .cart-text{
                                        flex: 0 0 60%;
                                        max-width: 60%;
                                        margin-left: 15px;
                                        p{
                                            margin-top:0;
                                            margin-bottom: 10px;
                                            text-align: left;
                                        }
                                        .clickButton{
                                            margin-top: 15px;
                                            input{
                                                width: 50%;
                                                outline:none;
                                                height: 40px;
                                                text-align: center;
                                            }
                                        }
                                    }
                                    .close-cart{
                                        flex: 0 0 10%;
                                        max-width: 10%;
                                    }
                                }
                            }
                            p{
                                font-size: 13px;
                                margin: 20px 0;
                                text-align: center;
                            }
                        }
                        button{
                            width: 100%;
                            outline: none;
                            padding: 10px 0;
                            border: 1px solid rgb(72, 72, 72);
                            background-color: #fff;
                            font-weight: 600;
                            font-size: 15px;
                            margin-top: 30px;
                        }
                    }
                    
                }
            }
            #{$this}__language{
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 15;
                background-color: rgba(0, 0, 0, 0.522);
                display: none;
                &.active{
                    display: block;
                }
                #{$this}__languagecontent{
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 25%;
                    height: 100vh;
                    background-color: #fff;
                    padding: 20px;
                    .ensign{
                        margin-bottom: 60px;
                        display: flex;
                        flex-wrap: wrap;
                        span{
                            flex: 0 0 50%;
                            max-width: 50%;
                            display: flex;
                            line-height: 30px;
                            align-items: center;
                            img{
                                width: 20px;
                                height: 13px;
                                object-fit: cover;
                                display: block;
                            }
                            span{
                                font-size: 12px;
                                margin-left: 10px;
                            }
                        }
                    }
                    .closelanguage{
                        display: flex;
                        justify-content: right;
                        cursor: pointer;
                        i{
                            font-size: 14px;
                        }
                        span{
                            font-size: 14px;
                        }
                    }
                    .languages{
                        font-size: 13px;
                        font-weight: 500;
                        border-bottom: 1px solid rgb(201, 200, 200);
                        margin-bottom: 20px;
                        padding-bottom: 15px;
                    }
                }
            }
        }
        .fa-magnifying-glass, .fa-heart, .fa-bars{
            @include MediaQuery($tablet){
                display: none;
            }
        }
    }
    #{$this}__responsive{
        display: none;
        @include MediaQuery($tablet){
            display: flex;
            i{
                font-size: 22px;
                margin: 0 10px;
            }
        }
    }
}