.instagram{
    padding: 48px 0;
    $this: &;
    #{$this}__title{
        text-align: center;
        margin-bottom: 60px;
        h2{
            font-size: 20px;
            font-weight: 600;
        }
        p{
            font-size: 14px;
            margin-top: 25px;
        }
    }
    #{$this}__image{
        display: flex;
        flex-wrap: wrap;
        margin-left: -2px;
        margin-right: -2px;
        a{
            @include MediaQuery($tablet){
                flex: 0 0 33.3333%;
                max-width: 33.3333%;
            }
            @include MediaQuery($tablet){
                flex: 0 0 50%;
                max-width: 50%;
            }
            flex: 0 0 25%;
            max-width: 25%;
            height: 324px;
            padding: 2px;
            display: block;
            .img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
            }
        }
    }
    .active{
        display: block;
    }
    .free{
        padding: 48px;
        display: flex;
        align-items: center;
        i{
            font-size: 50px;
            color: #e95144;
            margin-right: 20px;
        }
        .texts{
            span{
                font-size: 17px;
                font-weight: 600;
                margin-bottom: 15px;
                display: block;
            }
            p{
                font-size: 13px;
            }
        }
    }
}