.shop{
    $this: &;
    padding: 96px 0px;
    #{$this}__content{
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        #{$this}__deco{
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 15px;
        }
        #{$this}__image{
            @include MediaQuery($tablet){
            height: 500px;
            }
            @include MediaQuery($mobile){
                height: 300px;
            }
            overflow: hidden;
            cursor: pointer;
            height: 800px;
            width: 100%;
            position: relative;
            border-radius: 15px;
            &::before{
                content: "";
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                display: block;
                background-color: rgba(0, 0, 0, 0.275);
                z-index: 1;
                transition: all 0.5s ease;
                opacity: 0;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
                &::before{
                    opacity: 1;
                }
            }
            img{
                width: 100%;
                display: block;
                object-fit: cover;
                height: 100%;
                transition: all 0.5s;
            }
            &.imgright{
                @include MediaQuery($tablet){
                    height: 400px;
                }
                @include MediaQuery($mobile){
                    height: 200px;
                    }
                width: 100%;
                height: 600px;
                .img{
                    height: 100%;
                }
            }
        }
        #{$this}__text{
            p{
                font-size: 12px;
                margin: 20px 0;
                line-height: 20px;
            }
            h4{
                font-size: 15px;
                color: red;
                border-bottom: 1px solid red;
                display: inline;
            }
        }
        #{$this}__textright{
            @include MediaQuery($tablet){
                padding: 70px 0px;
            }
            padding: 70px 40px;
            text-align: center;
            h4{
                font-size: 15px;
                color: #28a745;
                border-bottom: 1px solid #28a745;
                display: inline;
            }
            h2{
                @include MediaQuery($tablet){
                    font-size: 25px;
                    line-height: 40px;
                }
                @include MediaQuery($mobile){
                    font-size: 14px;
                }
                font-size: 40px;
                font-weight: 600;
                line-height: 60px;
                margin: 30px 0;
            }
            button{
                outline: none;
                border: 1px solid #e95144;
                background-color: #e95144;
                color: #fff;
                font-weight: 600;
                padding: 15px 40px;
                border-radius: 30px;
                display: inline;
                transition: all 0.5s ease;
                &:hover{
                    background-color: #fff;
                    color: #000;
                    border: 1px solid #000;
                }
            }
            
        }
    }
}