.signup{
    padding: 60px 0;
    background-image: url(../../../src/img/happy-new-year\(3\).jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    $this: &;
    #{$this}__content{
        text-align: center;
        padding: 60px 0;
        h3{
            font-size: 20px;
            color: #fff;
            font-weight: 600;
        }
        p{
            color: #fff;
            margin: 30px 0;
            font-weight: 500;
            font-size: 13px;
        }
        #{$this}__email{
            @include MediaQuery($tablet){
                max-width: 70%;                
            }
            @include MediaQuery($mobile){
                max-width: 100%; 
                flex-wrap: wrap;               
            }
            display: flex;
            justify-content: center;
            max-width: 45%;
            margin: 0 auto;
            input{
                height: 55px;
                font-size: 15px;
                width: 70%;
                outline: none;
                border: none;
                border-radius: 30px;
                padding: 0 30px;
                margin-right: 10px;
                @include MediaQuery($mobile){
                    width: 100%;          
                }
            }
            button{
                @include MediaQuery($mobile){
                    width: 100%;      
                    margin-top: 30px;    
                }
                width: 30%;
                outline: none;
                border: none;
                border-radius: 30px;
                padding: 0 30px;
                height: 55px;
                background-color: #65c463;
                color: #fff;
                transition: all 0.5s ease;
                font-weight: 600;
                font-size: 16px;
                &:hover{
                    color: #000;
                    background-color: #fff;
                }
            }
        }

    }
}