.video{
    $this:&;
    padding: 48px 0;
    #{$this}__background{
        max-width: 100%;
        position: relative;
        #{$this}__img{
            @include MediaQuery($tablet){
                max-width: 100%;
            }
            max-width: 70%;
            height: 100%;
        }
        img{
            max-width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
        #{$this}__icon{
            
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-50%,-20%);
            i{
                color: #fff;
                height: 100px;
                width: 100px;
                line-height: 100px;
                text-align: center;
                border-radius: 50%;
                border: 3px solid #fff;
                font-size: 60px;
            }
        }
    }
    #{$this}__text{
        @include MediaQuery($tablet){
            right: 3%;
            max-width: 500px;
        }
        @include MediaQuery($mobile){
            padding: 0 25px;
            max-width: 350px;
            height: 100%;
            right: 7%;
        }
        background-color: #fff;
        max-width: 600px;
        padding: 60px;
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        span{
            color: red;
            font-size: 14px;
            font-weight: 600;
            border-bottom: 1px solid red;
        }
        h2{
            @include MediaQuery($tablet){
                font-size: 30px;
            }
            @include MediaQuery($mobile){
                font-size: 20px;
            }
            font-size: 40px;
            font-weight: 600;
            margin: 30px 0;
        }
        p{
            font-size: 13px;
            line-height: 20px;
        }
        button{
            border: none;
            outline: none;
            padding: 10px 40px;
            background-color: #4dac4c;
            border-radius: 30px;
            color: white;
            font-weight: 600;
            font-size: 14px;
            margin-top: 40px;
            border: 1px solid #4dac4c;
            transition: all 0.5s ease;
            &:hover{
                background-color: white;
                color: black;
                border: 1px solid black;
            }
        }
    }
}